<!-- index.html -->
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand"><i class="glyphicon glyphicon-bullhorn"></i> Lunch Club Grocery List</a>
        </div>
    </nav>
    <div class="container" id="items">
        <!-- add an item  -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Add an item</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <input class="form-control" placeholder="item Name" v-model="item.name">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="item Description" v-model="item.description"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" placeholder="Date" v-model="item.date">
                    </div>
                    <button class="btn btn-primary" v-on:click="additem">Submit</button>
                </div>
            </div>
        </div>
        <!-- show the items -->
        <div class="col-sm-6">
            <div class="list-group">
                <a href="#" class="list-group-item" v-for="item in items">
                    <h4 class="list-group-item-heading">
                 <i class="glyphicon glyphicon-apple"></i> 
                  {{ item.name }}
                    </h4>
                    <h5>
                     <i class="glyphicon glyphicon-calendar" v-if="item.date"></i> 
                     {{ item.date }}
                     </h5>
                    <p class="list-group-item-text" v-if="item.description">{{ item.description }}</p>
                    <button class="btn btn-xs btn-danger" v-on:click="delete(item)">Delete</button>
                </a>
            </div>
        </div>
    </div>
    <!-- JS -->
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
    <script src="app.js"></script>
</body>

</html>


  <!-- JS -->
  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
  <script src="app.js"></script>
</body>
</html>